header.header 
    video.bg-video(src="./assets/bg.mp4" muted autoplay loop)
    .items-backend
        h1 FRANK CIPRIANO
        h2 Backend Developer  
.cabecera 
    section.cabecera-contenido.contenedor
        article.logo 
            a(href="https://github.com/frankcipriano", target="_blank") 
                img(src="./assets/github.svg", alt="FrankDev")
            a(href="https://linkedin.com/in/frankcipriano",target="_blank") 
                img(src="./assets/linkedin.png", alt="FrankDev")
            a(href="https://www.youtube.com/channel/UCjYoO31gLHpJ_6YTNrFnuXA",target="_blank") 
                img(src="./assets/youtube.png", alt="FrankDev")
        nav.menu 
            a(href="#portfolio") Portfolio
            a(href="#skillset") Skillset
            a(href="#experience") Experience
            a(href="#contact") Contact