extends layout 
block content
    include header    
    main.contenedor
        include portfolio 
        include skillset 
        include experience 
        include contact 
    footer.contenedor 
        p
            small Developed by Frank Cipriano &copy;2021. All rights reserved
   
    script(src="./js/index.js" type="module")
        